{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>TimeLineLogger</title>
	<!-- bootstrap css -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="{% static 'app/css/app.css' %}" rel="stylesheet">
	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<script>
		$(function(){
			$('.alert').delay(2500).fadeOut(500);
		});
	</script>
	{% include './_base_nav.html' %}
	<!-- 未完了ログの表示 -->
	{% if unfinished_log %}
	<div class="alert alert-danger">
		{{unfinished_log.task.name}} 開始：{{unfinished_log.started}}が未完了です。
		<a href="javascript:void(0);"
		onclick="window.open('{% url 'task_stopwatch' 'u' unfinished_log.task.pk %}','subwin','width=500,height=500');">開く</a>
	</div>
	{% endif %}
	{% if messages %}
		{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</div>
		{% endfor %}
	{% endif %}

	{% block content %}
	{% endblock %}
	<script src="{% static 'app/js/app.js' %}"></script>
</html>