{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>TimeLineLogger</title>
	<!-- bootstrap css -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="{% static 'app/css/app.css' %}" rel="stylesheet">
	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<script>
		$(function(){
			$('.flashmsg').delay(2500).fadeOut(500);
			// タスクリストモーダル起動時にajaxでタスクリスト取得
			$('#taskListModalLink').on('click', function(){
				if($('#task-list').html() != "") {
					return;
				}
				// トグルボタンの選択状態を取得
				var radioVal = $('label.active').children().val();

				getTaskList(radioVal);
			});
			$('input[name="options"]:radio').on('change', function(){
				if($('#task-list').html() != "") {
					$('#task-list').empty();
				}
				var radioVal = $(this).val();
				getTaskList(radioVal);
			});
		});
		// 
		function getTaskList(radioVal) {
			
			$.ajax({
				url: '/api/v1/tasks/',
				method: 'GET',
				timeout: 10000,
				data: {
					'finishedTaskFlg': radioVal
				},
				success: function(resp){
					if (resp.tasks.length == 0) {
						$('#task-list').append('<p>タスクはありません。</p>');
					} else {
						resp.tasks.forEach(function(task){
							if(task.finished == "1"){
								$('#task-list').append(
									  common_html_1(task)
									+	'<span class="badge badge-secondary badge-pill">済</span>'
									+ common_html_2()
									+   '<a href="/task/finish/' + task.id + '/0">'
									+		'<span class="badge badge-secondary badge-pill">'
									+			'未完了に戻す'
									+		'</span>'
									+	'</a>'
									+ common_html_3(task)
								);
							} else {
								$('#task-list').append(
									  common_html_1(task)
									+	'<a href="javascript:void(0);"'
									+	'onclick="window.open(' + '\'/task_stopwatch/c/' + task.id +  '\',\'subwin\',\'width=500,height=500\');">'
									+		'<span class="badge badge-primary badge-pill">'
									+			'▶'
									+		'</span>'
									+ 	'</a>'
									+ common_html_2()
									+	'<a href="/task/finish/' + task.id + '/1">'
									+		'<span class="badge badge-primary badge-pill">'
									+			'✔'
									+		'</span>'
									+	'</a>'
									+ common_html_3(task)
								);
							}
						});
					}
				}
			});
		}
		// html生成の共通部分を切り出し
		function common_html_1(task){
			var str =	'<div class="list-group-item d-flex flex-column align-item-start list-group-item-action">'
					+		'<div class="d-flex justify-content-between task-row">'
					+			'<h5 class="mb-1">'
					+				'<a href="/task/update/' + task.id + '">'
					+					'[' + task.group + ']' + task.name
					+				'</a>'
					+			'</h5>';
			return str;	
			}
		function common_html_2() {
			return '</div><div>';
		}	
		function common_html_3(task) {
			var str = 	'<a href="/task/delete/' + task.id +  '">'
					+		'<span class="badge badge-danger badge-pill">'
					+			'×'
					+		'</span>'
					+	'</a>';
			return str;
		}
		function add_log(name, pk){
			location.reload();
		}
	</script>
	{% include './_base_nav.html' %}
	<div class="msg-area">
		<!-- 未完了ログの表示 -->
		{% if unfinished_log %}
		<div class="alert alert-danger">
			{{unfinished_log.task.name}} 開始：{{unfinished_log.started}}が未完了です。
			{% if type is 1 %}
			開始から2日以上経っています。終了時間を編集してください。
			<a href="{% url 'log_update' unfinished_log.pk %}"
			   class="alert-link">編集</a>
			{% elif type is 2 %}
			<a href="javascript:void(0);"
			   onclick="window.open('{% url 'task_stopwatch' 'u' unfinished_log.task.pk %}','subwin','width=500,height=500');"
			   class="alert-link">開く</a>
			{% endif %}
		</div>
		{% endif %}
		{% if messages %}
			{% for message in messages %}
			<div {% if message.tags %} class="flashmsg alert alert-{{message.tags}}"{% endif %}>{{ message }}</div>
			{% endfor %}
		{% endif %}
	</div>
	<!-- タスク一覧モーダル -->
	<div class="modal fade" id="taskListModal" tabindex="-1" role="dialog" aria-labelledby="taskListModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="taskListModalLabel">
							タスク一覧
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="hidden" value=""
						<div>
							<a class="btn btn-primary" href="{% url 'task_create' %}">追加</a>
							<div class="float-right">
								完了済表示
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label id="flgOn" class="btn btn-outline-secondary">
										<input type="radio" name="options" id="option1" autocomplete="off" value="1">ON
									</label>
									<label id="flgOff" class="btn btn-outline-secondary active">
										<input type="radio" name="options" id="option2" autocomplete="off" value="0">OFF
									</label>
								</div>
							</div>
						</div>
						<div id="task-list"></div>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</form>
		</div>
	</div>
	{% block content %}
	{% endblock %}
	<script src="{% static 'app/js/app.js' %}"></script>
</html>