{% extends "./_base.html" %}
{% block content %}
{% load custom_filters %}
<script>
	function add_log(name, pk){
		location.reload();
	}
</script>
<div class="container">
	<div class="row">
		<div class="col-12">
			<form method="get" action="" id="log_date_form">
				<h2 class="text-center">
					ログ一覧
				</h2>
				<a href="{% url 'log_list_period' %}">期間指定</a>
				<div class="form-group" for="log_date_id">
					<label for="">日付：</label>
					<input class="form-control"
						id="log_date_id"
						name="log_date"
						type="date"
						value={{ request.GET|log_date }}
						required />
				</div>
				<button class="btn">表示</button>
			</form>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">時間軸</h5>
			<div class="row">
				<!-- 時間軸 -->
				<div class="col-3 log_timeline_header"></div>
				<div class="col-9 log_timeline_header">
					{% for key, val in hour_dic.items %}
					<div class="hour_header pos_absolute" 
						style="left: {{val}}%;">
					{{ key }}
					</div>
					{% endfor %}
				</div>
				<!-- タスク毎のタイムライン -->
				{% for task_dic in task_arr %}
				{% if forloop.counter0|divisibleby:"2" %}
				<div class="col-3">
				{% else %}
				<div class="col-3 even_row">
				{% endif %}
					<a href="{% url 'task_update' task_dic.task %}">
						[{{ task_dic.group }}]{{ task_dic.name }}
					</a>
				</div>
				<!-- ログの時間に合わせてタイムライン上にdivタグを乗せる -->
				{% if forloop.counter0|divisibleby:"2" %}
				<div class="col-9">
				{% else %}
				<div class="col-9 even_row">
				{% endif %}
					{% for log_dic in task_dic.log_arr %}
					<a href="{% url 'log_update' log_dic.log %}">
					<div class="table-success log_line"
						style="
						left: {{ log_dic.started_percent }}%;
						width: {{ log_dic.delta_percent }}%;
						"
						data-toggle="tooltip"
						data-placement="top"
						title="{{ log_dic.started_str }}~{{ log_dic.ended_str }}">
					</div>
					</a>
					{% endfor %}	
				</div>
				{% empty %}
				<div class="col-12">
					ログがありません
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">明細</h5>
			<div class="row">
				<!-- 明細 -->
				{% for task_dic in task_arr %}
				<!-- サマリ行 -->
				<div class="col-4 summary_row">[{{ task_dic.group }}]{{ task_dic.name }}</div>
				<div class="col-5 summary_row">合計</div>
				<div class="col-3 summary_row">{{ task_dic.sum }}</div>
				{% for log_dic in task_dic.log_arr %}
				<div class="col-4"></div>
				<div class="col-2"> {{ log_dic.started_str }}</div>
				<div class="col-1">~</div>
				<div class="col-2">{{ log_dic.ended_str }}</div>
				<div class="col-2">{{ log_dic.delta_str }}</div>
				{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}