{% extends "./_base.html" %}
{% block content %}
{% load custom_filters %}
<div class="container">
	<div class="row">
		<div class="col-12">
		<form method="get" action="" id="log_date_form">
			<h2 class="text-center">ログ一覧</h2>
			<span><a href="#">範囲指定</a></span>
			<div class="form-group" for="log_date_id">
				<label for="">日付：</label>
				<input class="form-control"
					   id="log_date_id"
					   name="log_date"
					   type="date"
					   value={{ request.GET|log_date }} />
			</div>
			<button class="btn">表示</button>
		</form>
		</div>
		{% for log in object_list %}
			<div class="col-3">
				<a href="{% url 'task_update' log.task.pk %}">
					[{{ log.task.group }}]{{ log.task }}
				</a>
			</div>
			<div class="col-4">
				{{ log.started }}
			</div>
			<div class="col-1">
				～
			</div>
			<div class="col-4">
				{{ log.ended }}
			</div>
		{% empty %}
			<div class="col-12">
				ログがありません
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}