{% extends "./_base.html" %}
{% block content %}
{% load custom_filters %}
<script>
$(function() {
	$(".log_cell").each(function() {
		if ($(this).text().trim() != "") {
			$(this).addClass("table-success");
		}
	});
	$('#log_date_form').on('submit', function(){
		// エラーメッセージクリア
		$('#from_err_msg').html("");
		$('#to_err_msg').html("");

		// 入力チェック
		log_from = $('#log_from_id').val();
		log_to = $('#log_to_id').val();
		required_err_flg = false;

		// 1.必須チェック
		if (log_from == "") {
			$('#from_err_msg').html("入力してください。");
			required_err_flg = true;
		}
		if (log_to == "") {
			$('#to_err_msg').html("入力してください");
			required_err_flg = true;
		}
		if (required_err_flg) {
			return false;
		}
		// 2.日付前後チェック
		if (log_from > log_to) {
			$('#from_err_msg').html("開始は終了より前の日付を入力してください。");
			return false;	
		}

		// 3.先日付チェック
		now = new Date()
		today = now.getFullYear() + "-" 
			+ ('0' + (now.getMonth() + 1)).slice(-2) + "-" 
			+ ('0' + now.getDate()).slice(-2);
		if (log_to > today) {
			$('#to_err_msg').html("終了は今日以前の日付を入力してください。");
			return false;
		}

		// 4.日数差チェック
		// fromとtoの差が90日より大きい場合エラーとする
		date_log_from = new Date(log_from);
		date_log_to = new Date(log_to);
		// ミリ秒で差分を取る
		msDiff = date_log_to.getTime() - date_log_from.getTime();
		// 1日の秒数で割って日数を算出,端数切捨て
		daysDiff = Math.floor(msDiff / (1000*60*60*24));
		if(++daysDiff > 90) {
			$('#from_err_msg').html("期間が90日以内になるよう日付を入力してください。")
			return false;
		}
	});
});
</script>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center">
				ログ一覧
			</h2>
			<a href="{% url 'log_list' %}">日付指定</a>
			<form class="input-group" method="get" action="" id="log_date_form">
				<label for="log_from_id">開始：</label>
				<input class="form-control"
					id="log_from_id"
					name="log_from"
					type="date"
					value={{ request.GET|log_from }}
					/>
				<p id="from_err_msg" class="err_msg"></p>
				<label for="log_to_id">終了：</label>
				<input class="form-control"
						id="log_to_id"
						name="log_to"
						type="date"
						value={{ request.GET|log_to }}
						/>
				<p id="to_err_msg" class="err_msg"></p>
				<div class="input-group-append">
					<button class="btn btn-primary float-right">表示</button>
				</div>
			</form>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">一覧</h5>
			<div class="row">

				<table class="table table-striped table-sm table-responsive sticky-table">
					<!-- header -->
					<tr>
						<th class="blank"></th>
						{% for head_d in date_arr %}
						<th class="text-center">
							{% if head_d != 'SUM' %}
								<a href="{% url 'log_list' %}?log_date={{ head_d|slash_to_dash }}">
							{% endif %}
							{{ head_d }}
							{% if head_d != 'SUM' %}
								</a>
							{% endif %}
						</th>
						{% endfor %}
					</tr>
					<!-- log -->
					{% if ret_dic.sum_arr %}
						<tr>
							<th class="total_sum_row">
								SUM
							</th>
							{% for row_d in date_arr %}
								<th class="total_sum_row text-center">
									{% for t_s in ret_dic.sum_arr %}
										{% if t_s.logdate == row_d %}
											{{t_s.sum_str}}
										{% endif %}
									{% endfor %}
								</th>
							{% endfor %}
						</tr>
					{% endif%}
					{% for group_dic in ret_dic.group_arr %}
						<tr>
							<td class="g_summary_row">
								group:{{group_dic.name}}
							</td>
							{% for row_d in date_arr %}
								<td class="g_summary_row text-center">
									{% for g_s in group_dic.sum_arr %}
										{% if g_s.logdate == row_d %}
											{{g_s.sum_str}}
										{% endif %}
									{% endfor %}
								</td>
							{% endfor %}
						</tr>
						{% for task_dic in group_dic.task_arr %}
							<tr>
								<td class="task_row task_col">
									<a href="{% url 'task_update' task_dic.task %}">
										{{ task_dic.name }}
									</a>
								</td>
								{% for row_d in date_arr %}
									<td class="task_row text-center">
									{% for l in task_dic.log_arr %}
										{% if l.logdate == row_d %}
											{{ l.sum_str }}
										{% endif %}
									{% endfor %}
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					{% empty %}
					<div class="col-12">
						ログがありません
					</div>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}