{% extends "./_base.html" %}
{% block content %}
{% load custom_filters %}
<div class="container">
	<form method="get" action="" id="log_date_form">
		<h2 class="text-center">
			ログ一覧
		</h2>
		<a href="{% url 'log_list' %}">日付指定</a>
		<div class="row">
			<div class="col-6">
				<div class="form-group" for="log_from_id">
					<label for="">開始：</label>
					<input class="form-control"
						   id="log_from_id"
						   name="log_from"
						   type="date"
						   value={{ request.GET|log_from }}
						   required />
				</div>
			</div>
			<div class="col-6">
				<div class="form-group" for="log_to_id">
					<label for="">終了：</label>
					<input class="form-control"
						   id="log_to_id"
						   name="log_to"
						   type="date"
						   value={{ request.GET|log_to }}
						   required />
				</div>
			</div>
		</div>
		<button class="btn">表示</button>
	</form>
	<div class="row">
	<!-- header -->

	<!-- log -->
	<table>
		<th></th>
		{% for head_d in date_arr %}
		<th>{{ head_d }}</th>
		{% endfor %}
		{% for l in log %}
			<tr>
			<td>
				<a href="{% url 'task_update' l.task %}">
					[{{ l.group }}]{{ l.name }}
				</a>
			</td>
			{% for row_d in date_arr %}
				<td>
				{% if row_d == l.logdate %}
					{{ l.sum_str }}
				{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% empty %}
			<div class="col-12">
				ログがありません
			</div>
		{% endfor %}
	</table>
	</div>
</div>

{% endblock %}