{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<h2 class="text-center">タスク削除</h2>
	<p>削除してよいですか？</p>
	<form action="" method="post">
		{% csrf_token %}
		{% include "./_task_info.html" %}
		<div class="row">
			<div class="col-12">
				<a class="btn btn-outline-secondary"
					href="javascript:void(0);" onclick="window.history.back();">戻る</a>
				<input type="submit" class="btn btn-danger float-right"
						value="削除"/>
			</div>
		</div>
	</form>
</div>
{% endblock %}