{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<script>
	function add_log(name, pk){
	}
</script>
<div class="container">
	<div class="row">
		<div class="col-12">
			<a href="{% url 'task_create' %}">タスク追加</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
				{% for task in object_list %}
				<li>
					<a href="javascript:void(0);"
					   onclick="window.open('{% url 'task_stopwatch' task.pk %}','subwin','width=500,height=500');">
						▶
					</a>
					<a href="{% url 'task_update' task.pk %}">
						[{{task.group}}]{{task}}
					</a>
					<a href="{% url 'task_delete' task.pk %}">
						[×]
					</a>
				</li>
				{% empty %}
				<li>タスクはありません</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
