{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load custom_filters %}
<script>
	function add_log(name, pk){
	}
	$('.task_filter').on('click', function(e){
		$('#task_filter_form').submit();
	})
</script>
<form method="get" action="" id="task_filter_form">
<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center">タスク一覧</h2>
		</div>
		<div class="col-12">
			<a class="btn btn-primary" href="{% url 'task_create' %}">タスク追加</a>
			<button class="btn btn-secondary">
				{% if request.GET.contain_fin != '1/'%}
				完了済タスク表示
				{% else %}
				未完了タスクのみ表示
				{% endif %}
			</button>
			<a class="btn btn-warning float-right" href="{% url 'log_list' %}">ログ</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
				<input type="hidden"
				       id="finished_id"
				       name="contain_fin"
				       value={{ request.GET|contain_fin }}/>
				<div class="list-group">
					{% for task in object_list %}
					<div class="list-group-item d-flex flex-column align-item-start list-group-item-action">
						<div class="d-flex justify-content-between">
							<h5 class="mb-1">
								<a href="{% url 'task_update' task.pk %}">
										[{{task.group}}]{{task}}
								</a>
							</h5>
							{% if task.finished %}
								<span class="badge badge-secondary badge-pill">済</span>
							{% else %}
							<a href="javascript:void(0);"
							onclick="window.open('{% url 'task_stopwatch' 'c' task.pk %}','subwin','width=500,height=500');">
								<span class="badge badge-primary badge-pill">
									▶
								</span>
							</a>
							{% endif %}
						</div>
						<div>
							{% if not task.finished %}
							<a href="{% url 'task_finish' task.pk %}">
								<span class="badge badge-primary badge-pill">
								✔
								</span>
							</a>
							{% endif %}
							<a href="{% url 'task_delete' task.pk %}">
								<span class="badge badge-danger badge-pill">
									×
								</span>
							</a>
						</div>
					</div>
					{% empty %}
					<div>タスクはありません</div>
					{% endfor %}
				</div>
		</div>
	</div>
</div>
</form>
{% endblock %}
