{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<a href="{% url 'task_create' %}">タスク追加</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<ul>
				{% for task in object_list %}
				<li>
					<a href="{% url 'task_update' task.pk %}">
						[{{task.group}}]{{task.name}}
					</a>
					<a href="{% url 'task_delete' task.pk %}">
						[×]
					</a>
				</li>
				{% empty %}
				<li>タスクはありません</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
