{% extends "./_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<h2 class="text-center">退会</h2>
	<p>退会すると登録したタスクがすべて削除されます。よろしいですか？</p>
	<form action="" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-12">
				<a class="btn btn-outline-secondary"
					href="javascript:void(0);" 
					onclick="window.history.back();">戻る</a>
				<input type="submit" class="btn btn-danger float-right"
						value="退会する"/>
			</div>
		</div>
	</form>
</div>
{% endblock %}